<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:white-space="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Safe Purchase shop</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="js/app-web3.js"></script>



</head>

<body onload="initWeb3()">

    <div class="container">
        <div class="row">
            <div class="pull-right">
                <div class="btn.group">
                    <button class="btn btn-primary" id="btn_Connect" onclick="initWeb3()">
                        Connect to Wallet
                    </button>
                    <P style="display: none" id="p_Network"> </P>
                </div>
            </div>
            <div class="pull-left">
                <div class="btn.group">
                    <a href="/register" ><button class="btn btn-success" id="btn_Register" >
                        Register
                    </button></a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1 class="text-center">Safe Purchase Shop
                </h1>
                <hr/>
                <br/>
            </div>

        </div>

        <div id="alert-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="alert-modal-title" class="modal-title"></h4>
                    </div>
                    <div id="alert-modal-body" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="goodsRow" class="row">
            <div id="goodTemplate" th:each="item : ${purchaseItem}"  class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="thumbnail" >
                    <img style="min-height:200px;height:200px;"  class="img-thumbnail heightFix"   th:src="${item.cover != null} ? 'img/' + ${item.cover} : 'img/no-img.png'"  />
                    <br/><br/>
                    <strong>Goods</strong>: <span class="item_Goods" th:text="${item.name}">mi 11i</span><br/>
                    <strong>Brand</strong>: <span class="item_Brand " th:text="${item.brand}">Xiaomi</span><br/>
                    <strong>Value</strong>: <span class="item_Value" th:text="${item.value}">2</span><br/>
                    <strong>Seller</strong>: <span    th:text="${item.sellerAddress.substring(0,8) + '...'+item.sellerAddress.substring(item.sellerAddress.length()-8)}"></span><br/>
                    <strong>Buyer</strong>: <span    th:text="${item.buyerAddress.substring(0,8) + '...'+item.buyerAddress.substring(item.sellerAddress.length()-8)}"></span><br/>
                    <div class="btn.group">
                        <button class="btn btn-default btn-purchase" type="button"   th:if="${item.state.id == 0}"   th:data-id="${item.code}" onclick="purchaseEvent(this)" > Buy  </button>
                        <button class="btn btn-default btn-abort" type="button" th:if="${item.state.id == 0}"  th:data-id="${item.code}"  onclick="abortEvent(this)" >Abort </button>
                        <button class="btn btn-default btn-Received" type="button" th:if="${item.state.id == 1}"  th:data-id="${item.code}" onclick="receivedEvent(this)" >Received</button>
                        <button class="btn btn-default btn-Refund" type="button" th:if="${item.state.id == 2}"  th:data-id="${item.code}" onclick="refundEvent(this)" >Refund</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>